// primary colors
$red: #f25022;
$yellow: #ffb900;
$green: #7fba00;
$blue: #00a4ef;
$grey: #737373;
$dark-grey: #4e4e4e;
$tan: #FDECB8;


$poppins-reg:"Poppins-Regular";
$poppins-light:"Poppins-Regular";
$poppins-medium:"Poppins-Regular";
$poppins-semi:"Poppins-Regular";
