@use "../../styles/styles";

.progress {
    width: 35rem;
    display: flex;
    align-items: center;
    &__track {
        background-color: black;
        height: 0.6rem;

        &-0 {
            background-color: #f25022;
        }
    }
    &__thumb {
        height: 3rem;
        width: 3rem;
        background-color: #f25022;
        border-radius: 50%;
    }
    &__mark {
        height: 3rem;
        width: 3rem;
        background-color: black;
        border-radius: 50%;
        &:first-of-type {
            background-color: #f25022;
        }
    }
    &__container {
        min-height: 3rem;
        display: flex;
        align-items: center;
    }
}
