@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;

.recom-all {
  background: url(../../assets/images/speckled-background.svg);
  background-repeat: no-repeat;
}

.recom-top {
  &-main__title {
    font-size: 32px;
    margin: 0;
  }
  &__subtitle {
    font-size: 24px;
    margin: 0;
    margin-bottom: 3rem;
  }
  &__subtitles {
    font-size: 20px;
    margin: 0.5rem 0;
    padding: 0 102px;
  }
  padding: 0 102px;
}

.recom-bottom {
  padding: 0 102px;
  display: flex;
  justify-content: center;
}
