@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/typography" as *;

.background {
    &-page {
        padding: 1.5rem 123px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
        width: 100%;
        max-width: 128rem;
    }
    &__input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__fields {
        display: flex;
        flex-direction: column;
    }
    &__field {
        background: white;
        padding: 0.5rem;
        margin-bottom: 2rem;
    }
    &__tenure {
        display: flex;
        flex-direction: column;
    }
    &__radio input {
        display: flex;
    }
}

.followup__label {
    font-size: 14px;
    &--radio {
        margin: 1rem 0;
    }
}
.followup__text {
    font-size: 16px;
    margin-top: 0;
}
.followup__submit {
    width: 350px;
}
.left-label {
    font-size: 16px;
}

.progress__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5.5rem;
}

.page__container {
    background: $tan;
    display: flex;
    justify-content: center;
}

.followup__zone {
    display: flex;
    justify-content: center;
    margin-top: 9.5rem;
}
